# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Assignment-Board-Backend.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\School\semester4l\canvas-course\backend\Assignment-Board-Backend\.idea\.idea.Assignment-Board-Backend.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
